# Sources: Python 4 Everybody, and Learning Python

## Variables, expressions, and statements

### Assignmnet # 01

### Q1

In [2]:
name= input("Enter your name: ")
print("Hello! Welcome " + name)

Enter your name: sania
Hello! Welcome sania

### Q2

In [3]:
hours=int(input())
rate=float(input("Rate per hour: ")) 
pay= round(hours*rate)
print("Pay: "+ str(pay))

98
Rate per hour: 09
Pay: 882

##### Q3

In [4]:
width=17
height=12.0
print(type(width))
print(type(height))
print(width//2)
print(width/2)
print(width*2)
print(width/2.0)
print(height/3)
print(1 + 2 * 5)

<class 'int'>
<class 'float'>
8
8.5
34
8.5
4.0
11

### Q4

In [5]:
choice=int(input("Press 1 - (Celcius-Farenhite) or Press 2 - (Farenhite to Celcius) :  "))

temp= float(input("Enter the temperature: "))
if(choice==1):
    temp= float((temp*1.8)+32)
    print("Temperature in Farenhite is ", temp)
if (choice==2):
    temp= float((temp-32)/1.8)
    print("Temperature in Celcius is ", temp)

Press 1 - (Celcius-Farenhite) or Press 2 - (Farenhite to Celcius) :

ValueError: invalid literal for int() with base 10: ''

### Q5

In [0]:
num=int(input("Enter n to check for perfect square: "))
num2 = num//2
flaag=0
for i in range(num2):
    if(i*i==num):
        print("Perfect Square")
        flaag=1
if(flaag==0):
    print("Not a perfect sqaure")

### Q6

In [0]:
p=int(input("Principal amount :"))
t=float(input("Total hours: "))
r=float(input("Rate of interest: "))
interest=p*t*r
print("Interest is: " ,interest)

### Q7

In [0]:
c1= 9+5j
c2= 1+3j
print ("Sum of complex numbers is", c1+c2)
print ("Difference of complex numbersis", c1-c2)
print ("Product is",c1*c2)

### Q9

In [0]:
string=input("Enter a string: ")
print(string.title())

### Q10

In [0]:
string = 'X-DSPAM-Confidence:0.8475'
print(string.find(":"))
string[19:]

### Q11

In [0]:
m ="Welcome to the Course on Data Science."
y= m.split()
print(y)

print(m[0:10])

z= y[0] +" " + y[6]
print(z)

### Q12

In [34]:
m ="Welcome to the Course on Data Science."
m.count("the")

1

### Q13

In [0]:
m ="I am a student"
y= m.split()

print(m[0:2] + m[-2:])

### Lists

### Q1

In [0]:
list1= ['P', 'Y', 'T', 'H', 'O', 'N']
list1.remove('P')
list1.remove('N')
print(list1)

modified_list= list1

### Q2

In [36]:
fruits = ['apple', 'banana', 'guava', 'guava', 'banana',1]

for i in fruits:
    if(fruits.count(i) == 1 ):
        print(i, "is Unique")

apple is Unique
1 is Unique

### Q3

In [0]:
list3 = [20,0,15,5,10,50]
list4 = [40,20,30,50,0]
list5 = list3+list4
print(list5)
sum(list5)

### Q4

In [0]:
list6 = [90,53,-2,60,1000]

print(min(list6))
print(max(list6))

### Q5

In [0]:
list7=[1,0,6,3,9,2,7]
print(list7)
list8=set(list7)
print(list8)

### Q6

In [2]:
list1 = set([0,6,9,3,2,1])
list2 = set([5,2,4,10,11,3])

Intersection_list = list1.intersection(list2)
if ( len(Intersection_list) >= 1 ):
    print("Yes, same members are found in both lists")

Yes, same members are found in both lists

### Q7

In [0]:
char_list= ['P', 'Y', 'T', 'H', 'O', 'N']
print(char_list)
str_list = ""
for i in char_list:
    str_list = str_list + i
print(str_list)

### Q8

In [0]:
list1=set([2,5,8,2,1,5,2,88])
list2=set([5,2,1,88,8])


if (list1==list2):
    print(" Yes identical!")
    
else:
    print("Not identical")

### Q9

In [0]:
list1=set([8,5,9,2,0,9])
list2=set([8,5,6,7,8,9])
list3 = list1.difference(list2)
list4 = list2.difference(list1)

unique_elements= list3.union(list4)
print(unique_elements)

### Q10

In [8]:
l1 = [1,2,3,0,1,9]
print(l1)
l = 0
for item in l1:
    print (l1[l], ':', l1.count(l1[l]), "times")
    l += 1

[1, 2, 3, 0, 1, 9]
1 : 2 times
2 : 1 times
3 : 1 times
0 : 1 times
1 : 2 times
9 : 1 times

### Q11

In [14]:
l1 = [ [0,1,22222,9], [2,5,88], [10,2,0,3,1,4], [7,8,2,3], [4,2,1,2] ]
max = 0
num = 0
for i in l1:
    if ( sum(i) > max):
        num = num + 1
        max = sum(i)
print(num)
print(max)

1
22232

### Q12

In [0]:
list1 = ["your", "name", "?"]
list1.insert( 0 , "what")
print(list1)

### Q13

In [0]:
str1 = "Python"
list1 = []
for i in str1:
    list1.append(i)
print(list1)

### Q14

In [20]:
l1= [0,12,8,9,8,7]
l2= [4,5,3,5,1,2,3]
l3 = []
for i in range(len(l1)):
    l3 = print(str(l1[i]) + " " +str(l2[i]))

0 4
12 5
8 3
9 5
8 1
7 2

### Q16

### Tuples

### Q1

In [0]:
t1 = (1,2,3)
print(t1)
t2 = ()
j=0

for i in t1:
    t2 = t2 + ((t1[j],),)
    j+=1
    print(t2)

### Q2

In [37]:
list1 = [4, 2.9,2, 'Hello',5,6,8, (1,2,3), 5.09]
l = -1
a=0
for i in range(len(list1)):
    l = l + 1
    if (type(list1[l]) == tuple):
        break
    else:
        a +=1
print("There're " , a , 'elements in the list untill first tuple')

There're  7 elements in the list untill first tuple

### Q3

In [0]:
t1=(0,1,2,3,4,5)
t2=(0,1,2,3,4,5)
t3=()
j=0
for i in range(len(t1)):
    t3 += (t1[j]+t2[j],)
    j+=1
print("The corresonding sum tuple is: ")
print(t3)

### Q4

In [22]:
t1= (0,1,2,3,4,5)
j=0
t2=()
num1= int(input("Enter an interger to multiply with the tuple: "))
for i in t1:
    t2+=(t1[j]*num1,)
    j+=1
print(t2)

Enter an interger to multiply with the tuple:  10(0, 10, 20, 30, 40, 50)

### Sets

### Q1

In [0]:
set1={0,3,6,8,1,9}
num= int(input("Enter the number to seach in set:  "))
if num in set1:
    print("Yes number is in the set")
else:
    print("Number isn't in the set")

### Q2

In [0]:
list1=[0,6,8,4,3,2,0,6,3,7]
list2= set(list1)
print(list2)

### Q3

In [39]:
list1=['3.20.2', '3.26.1', '2.29.1']
list2=['3.20.9', '3.20.2', '2.29.15']
i=0
print("Checking in accordance of list1: ")
for i in range (len(list1)):
    if list1[i] in list2:
        print("Same")
        i+=1
    else:
        print("Not same")
        i+=1

Checking in accordance of list1:
Same
Not same
Not same

### Dictioneries

### Q1

In [40]:
data= {'501': 90, '502': 80, '503': 95, '504': 48}
print(data.keys())
print(data.values())
print(data['501']," ,", data['504'] )

dict_keys(['501', '502', '503', '504'])
dict_values([90, 80, 95, 48])
90  , 48

### Q2

In [0]:
comm = {
'chair' : 10,
'table' : 22,
'sofa-set': 2,
'tv-unit': 0,
'fan': 10,
'table-lamp': 0,
'iron-box': 0,
'bed': 30
}

price = {
'chair': 2365,
'table': 37752,
'sofa-set': 23299,
'tv-unit': 120344,
'bed': 40226,
 'fan': 2000
}



#1. Evaluate the income made by the shop owner.
#2. If user enters a commodity that is not available in the shop, display appropriate message.
#3. If user enters a quantity that is beyond the available limit, display the size of the inventory.
#4. Display the inventory available.


while True:
    print("              -------------------                 ")
    data= input("Enter your desired item: ")
    if data == "quit": 
        print("******************************************")
        print("        Thank You For Shopping!")
        break
    if(data in comm.keys()):
        print("Item is available.")
        
        quantity= int(input("Enter the no of items you want: "))
        if(quantity<= comm[data]):
            print("item is in stock!")
            bill= quantity*price[data]
           
        else:
            print("Sorry! Item is out of stock!")
    else:
        print("Sorry, this Item isn't available.")
        
print("******************************************")
if(bill!=0):
    print(" Your total bill is: ", bill, "/-")